# 项目基础设置
ENV=development
LOG_LEVEL=DEBUG

# 数据库相关的配置
SQLALCHEMY_DATABASE_URI=

# Redis相关配置
# REDIS_HOST=
REDIS_PORT=66379
REDIS_DB=0
# REDIS_PASSWORD=

# 腾讯云cos相关配置
# COS_SECRET_ID=
# COS_SECRET_KEY=
# COS_REGION=
# COS_SCHEME=
# COS_BUCKET=
# COS_DOMAIN=

JWT_SECRET_KEY=your-secret-key-32-chars-minimum
JWT_REFRESH_SECRET_KEY=your-secret-key-32-chars-minimum
SMTP_HOST=smtp.gmail.com
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password